@charset "gbk";
/*Element Style Sheet*/
*
{
font-family:var(--RS-formal-font-family);
font-style:normal;
font-weight:bold;
cursor:default;
box-sizing:content-box;
}
*:focus
{
outline:none;
}
*::-webkit-scrollbar
{
display:none;
width:12px;
height:12px;
}
*::-webkit-scrollbar-track
{
display:none;
background-color:#0000FFFF;
}
*::-webkit-scrollbar-track-piece
{
display:none;
background-color:#00C0FFFF;
}
*::-webkit-scrollbar-thumb
{
display:none;
background-color:#006BFFFF;
}
:root
{
--formal-background-clip-1:content-box,border-box;
--formal-background-clip-2:text;
--formal-width:100svw;
--formal-height:100svh;
--formal-minimum-size:100svmin;
--formal-maximum-size:100svmax;
}
body
{
display:inline-flex;
background-image:linear-gradient(to right bottom,#00E0EEFF,#AD00FEFF);
background-size:cover;
background-position:center center;
background-attachment:fixed;
background-repeat:no-repeat;
padding:0;
border-width:0;
margin:0;
flex-direction:row;
flex-wrap:nowrap;
align-content:center;
justify-content:center;
align-items:center;
overflow:hidden;
width:var(--formal-width);
height:var(--formal-height);
}
template-list
{
display:none;
padding:0;
border-width:0;
margin:0;
}
template
{
display:none;
padding:0;
border-width:0;
margin:0;
}
a
{
display:none;
padding:0;
border-width:0;
margin:0;
}
div#content-container
{
display:inline-block;
padding:0;
border-width:0;
margin:0;
flex:none;
overflow:hidden;
width:var(--formal-width);
height:var(--formal-height);
}
/*Portrait Style Sheet*/
/*Landscape Style Sheet*/
/*Property Style Sheet*/
@property --RS-formal-font-family
{
syntax:"*";
inherits:false;
initial-value:Andrich,FZXKJT,FZXKJF,FZXK-B-S04;
}