@charset "gbk";
button
{
display:inline-block;
background-image:var(--formal-button-background);
padding:0;
border-style:solid;
border-width:2px;
border-color:#00AEECFF;
margin:0;
inset:0;
flex:none;
font-family:var(--formal-button-font-family);
font-style:normal;
font-weight:bold;
color:var(--formal-font-color);
text-align:center;
vertical-align:middle;
overflow:hidden;
box-sizing:content-box;
}
button:disabled
{
display:inline-block;
background-image:linear-gradient(to right bottom,#808080FF,#808080FF);
padding:0;
border-style:solid;
border-width:2px;
border-color:#767676FF;
margin:0;
inset:0;
flex:none;
font-family:var(--formal-button-font-family);
font-style:normal;
font-weight:bold;
color:#AAAAAAFF;
text-align:center;
vertical-align:middle;
overflow:hidden;
box-sizing:content-box;
}
button:enabled
{
display:inline-block;
background-image:var(--formal-button-background);
padding:0;
border-style:solid;
border-width:2px;
border-color:#00AEECFF;
margin:0;
inset:0;
flex:none;
font-family:var(--formal-button-font-family);
font-style:normal;
font-weight:bold;
color:var(--formal-font-color);
text-align:center;
vertical-align:middle;
overflow:hidden;
box-sizing:content-box;
}
button[style-type="A"]:enabled:hover
{
display:inline-block;
background-image:var(--formal-button-background);
padding:0;
border-style:solid;
border-width:2px;
border-color:#0000FFFF;
margin:0;
inset:0;
flex:none;
font-family:var(--formal-button-font-family);
font-style:normal;
font-weight:bold;
color:var(--formal-font-color);
text-align:center;
vertical-align:middle;
overflow:hidden;
box-sizing:content-box;
}
button[style-type]:enabled:active
{
display:inline-block;
background-image:var(--formal-button-background);
padding:0;
border-style:solid;
border-width:2px;
border-color:#006BFFFF;
margin:0;
inset:0;
flex:none;
font-family:var(--formal-button-font-family);
font-style:normal;
font-weight:bold;
color:var(--formal-font-color);
text-align:center;
vertical-align:middle;
overflow:hidden;
box-sizing:content-box;
}